    *{padding:0;margin: 0;}
    a{text-decoration: none;}
    #head{position:relative;}
    /*导航栏开始*/
    #head-1{height:100px;width:100%;background-color:black;position: absolute;opacity:0.4;z-index: 65535;}
    #ll{height:82px;display: inline-block;position: absolute;left:80px;top:20px;}
    #ll img{height:42px; position: absolute;}
    #head-1 #daohang{position: absolute;top:35px;left:660px;}
    #head-1 #daohang li{float:left;list-style: none;margin-left:30px;font-size:20px;}
    #head-1 #daohang li a{color:white;}
    /*导航栏结束*/
    /*轮播图css*/
    .carousel{width:100%;height: 540px;position: relative;margin:0 auto;}
	.carousel ul{list-style: none;}
	.carousel ul li{position: absolute;top: 0;left: 0;display: none;}
	.carousel ul li.first{display: block;}
	.carousel ul li  {display: inline-block;width: 100%;}
	.carousel ul li a img{width: 100%;height:623px;}
	.btns a{position: absolute; width: 60px; height: 100px; top: 50%;margin-top: -50px;text-align:center;line-height: 150px;color:white;text-decoration: none;font-size: 70px;}
	.btns a.leftBtn{left: 0;}
	.btns a.rightBtn{right: 0;}
	.circles{position: absolute;bottom: 10px; left: 50%; width: 200px;margin-left: -100px;height: 20px;}
	.circles ol{list-style: none;}
	.circles ol li{float: left; width: 20px;height: 20px;margin-right: 10px; background-color: #333;}
	.circles ol li.last{margin-right: 0;}
	.circles ol li{color: white; line-height: 20px; text-align: center;border-radius: 50%;}
	.circles ol li.cur{background-color: white; color:black;}
    /*轮播图ending*/
    /*内容开始 中间*/
    #middle{height:770px;width:100%;}
    #middle .M-left{height:660px;width:500px;background:url(tutu/04.png);position:relative;top:200px; }
    #middle .M-right{height:660px;width:750px;position: absolute;right:300px;top: 860px;}
    #middle .M-right p{font-size:20px;margin-top:40px;}
     hr{margin-top:30px;color: lightgray;}
    .middle1{height:660;width:100%;/*position: absolute;*/}
    /*.middle1 h1{display:inline;}*/
    .middle1 h1{height:50px;width:255px;color:blue;margin-left:250px; }
    .m1{height:360px;width:750px;text-align: center;margin: 0 auto;font-size: 20px;}
    .m1 p{margin-top:40px;}
    .middle2 {height:660;width:100%;/*position: absolute;*/}
    .middle2 h1{height:50px;width:355px;color:blue;margin-left:250px;}